.image-box-container {
  width: 32%;
  min-width: 400px;
  margin: auto;
  height: auto;
}

.image-box-image {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 500px) {
  .image-box-container {
    min-width: 350px;
  }
  .image-box-image {
    max-width: 350px;
  }
}

@media(max-width: 340px) {
  .image-box-container {
    min-width: 300px;
  }
  .image-box-image {
    max-width: 300px;
  }
}
