/* css for fancy button from CodePen */
.button-container {
  outline: none;
  display: inline-block;
  position: relative;
  padding: 25px 80px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background: var(--seagreen);
  color: var(--white);
  box-shadow: 0 6px #31a086;
  border-radius: 5px;
  transition: 0.2s all ease-out;
  font-family: 'Bungee';
  font-size: 20px;
}
.button-container:hover {
  box-shadow: 0 8px #31a086;
}
.button-container:active {
  box-shadow: 0 0 #31a086;
  transform: translate(0px, 6px);
  transition: 0.1s all ease-out;
}

.button-border-container {
  font-size: 20px;
  color: var(--white);
  font-family: 'Bungee';
  text-transform: uppercase;

  /* border: 1px solid var(--blue); */

  margin-right: 25px;
  margin-top: 13px;
  height: fit-content;
  padding: 6px 12px;

  outline: none;
  cursor: pointer;
}
