.header-style {
  color: #000000;
  font-size: 50px;
  font-family: Nova Mono;

  padding-top: 30px;

  flex: 1;
  display: flex;
  justify-content: center;
}

.home-background {
  height: 100%;
  background-color: #dcfdf6;
}
