html {
  height: inherit;
  --light-blue: #dcfdf6;
  --blue: #32306f;
  --seagreen: #39c0a1;
  --white: #ffffff;
}

body {
  height: inherit;
  margin: unset;
}

#root {
  height: inherit;
}

.container-background {
  height: inherit;
  /* background-color: var(--blue); */
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
