html {
  height: inherit;
  font-family: Nova Mono;
}

body {
  height: inherit;
  margin: unset;
}

#root {
  height: inherit;
}

.container-background {
  height: inherit;
  background-color: #dcfdf6;
}

.home-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
