html {
  height: inherit;
  --light-blue: #dcfdf6;
  --blue: #32306f
}

body {
  height: inherit;
  margin: unset;
}

#root {
  height: inherit;
}

.container-background {
  height: inherit;
  /* background-color: var(--blue); */
}

.home-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
